USE [EOR]
GO
/****** Object:  Table [db_owner].[Erros]    Script Date: 10/02/2023 13:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_owner].[Erros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataErro] [datetime2](2) NULL,
	[Mensagem] [nvarchar](max) NULL,
	[Metodo] [nvarchar](50) NULL,
	[ClasseOrigem] [nvarchar](150) NULL,
	[ClasseFinal] [nvarchar](150) NULL,
 CONSTRAINT [PK_Erros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Andamento]    Script Date: 10/02/2023 13:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Andamento](
	[fkEvento] [bigint] NOT NULL,
	[fkPessoa] [nchar](24) NOT NULL,
	[Horario] [datetime2](2) NULL,
	[Origem] [nchar](30) NULL,
	[IP] [nchar](15) NULL,
 CONSTRAINT [PK_Pesquisa] PRIMARY KEY CLUSTERED 
(
	[fkEvento] ASC,
	[fkPessoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 10/02/2023 13:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[id] [bigint] NOT NULL,
	[DataHoraInicio] [datetime2](7) NOT NULL,
	[DataHoraFim] [datetime2](7) NULL,
	[fkComandante] [nchar](24) NULL,
	[Brigada] [datetime2](7) NULL,
	[Baleeira_1_3] [datetime2](7) NULL,
	[Baleeira_2_4] [datetime2](7) NULL,
	[CCR] [datetime2](7) NULL,
	[FT_Manutenção] [datetime2](7) NULL,
	[FT_Operação] [datetime2](7) NULL,
	[Socorrista] [datetime2](7) NULL,
	[Abandono] [datetime2](7) NULL,
	[Cinema] [datetime2](7) NULL,
	[Refeitório] [datetime2](7) NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 10/02/2023 13:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[Id] [nchar](24) NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Sobrenome] [nvarchar](50) NULL,
	[Matricula] [nvarchar](50) NOT NULL,
	[Empresa] [nvarchar](100) NULL,
	[FunçãoEmpresa] [nvarchar](50) NULL,
	[DataCadastro] [datetime2](7) NULL,
	[DataEmbarque] [date] NULL,
	[Camarote] [nvarchar](50) NULL,
	[FunçãoEOR] [nvarchar](50) NULL,
	[Embarcado] [bit] NULL,
	[Baleeira] [nvarchar](50) NULL,
	[Dias] [int] NULL,
	[Ramal] [nvarchar](12) NULL,
 CONSTRAINT [PK_Pessoas_1] PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [db_owner].[Erros] ON 

INSERT [db_owner].[Erros] ([Id], [DataErro], [Mensagem], [Metodo], [ClasseOrigem], [ClasseFinal]) VALUES (1, CAST(N'2023-02-03T21:41:24.5600000' AS DateTime2), N'null saveAll | com.adam.eor.modelo.PessoaRepositorio saveAll Erro no UPDATE - Matrícula não existente: BRUNO  CAMPOS ANDRADE', N'saveAll', NULL, N'com.adam.eor.modelo.PessoaRepositorio')
INSERT [db_owner].[Erros] ([Id], [DataErro], [Mensagem], [Metodo], [ClasseOrigem], [ClasseFinal]) VALUES (2, CAST(N'2023-02-03T21:41:24.5700000' AS DateTime2), N'null saveAll | com.adam.eor.modelo.PessoaRepositorio saveAll Erro no UPDATE - Matrícula não existente: JONATAN  VARGAS DA SILVA', N'saveAll', NULL, N'com.adam.eor.modelo.PessoaRepositorio')
INSERT [db_owner].[Erros] ([Id], [DataErro], [Mensagem], [Metodo], [ClasseOrigem], [ClasseFinal]) VALUES (3, CAST(N'2023-02-03T21:41:24.5700000' AS DateTime2), N'null saveAll | com.adam.eor.modelo.PessoaRepositorio saveAll Erro no UPDATE - Matrícula não existente: LEANDRO  PINHEIRO SANTOS', N'saveAll', NULL, N'com.adam.eor.modelo.PessoaRepositorio')
SET IDENTITY_INSERT [db_owner].[Erros] OFF
GO
INSERT [dbo].[Andamento] ([fkEvento], [fkPessoa], [Horario], [Origem], [IP]) VALUES (2, N'FAKE1675471281508       ', NULL, N'2/4                           ', NULL)
INSERT [dbo].[Andamento] ([fkEvento], [fkPessoa], [Horario], [Origem], [IP]) VALUES (2, N'FAKE1675471281527       ', NULL, N'2/4                           ', NULL)
INSERT [dbo].[Andamento] ([fkEvento], [fkPessoa], [Horario], [Origem], [IP]) VALUES (2, N'FAKE1675471281541       ', NULL, N'1/3                           ', NULL)
GO
INSERT [dbo].[Eventos] ([id], [DataHoraInicio], [DataHoraFim], [fkComandante], [Brigada], [Baleeira_1_3], [Baleeira_2_4], [CCR], [FT_Manutenção], [FT_Operação], [Socorrista], [Abandono], [Cinema], [Refeitório]) VALUES (1, CAST(N'2023-02-08T21:57:51.7650000' AS DateTime2), CAST(N'2023-02-08T21:58:25.0140000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2023-02-08T21:57:56.0000000' AS DateTime2), NULL)
INSERT [dbo].[Eventos] ([id], [DataHoraInicio], [DataHoraFim], [fkComandante], [Brigada], [Baleeira_1_3], [Baleeira_2_4], [CCR], [FT_Manutenção], [FT_Operação], [Socorrista], [Abandono], [Cinema], [Refeitório]) VALUES (2, CAST(N'2023-02-08T22:08:24.0680000' AS DateTime2), CAST(N'2023-02-09T06:41:11.6240000' AS DateTime2), NULL, NULL, CAST(N'2023-02-08T22:57:12.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Eventos] ([id], [DataHoraInicio], [DataHoraFim], [fkComandante], [Brigada], [Baleeira_1_3], [Baleeira_2_4], [CCR], [FT_Manutenção], [FT_Operação], [Socorrista], [Abandono], [Cinema], [Refeitório]) VALUES (3, CAST(N'2023-02-09T06:41:15.9290000' AS DateTime2), CAST(N'2023-02-09T07:16:23.4720000' AS DateTime2), NULL, NULL, NULL, CAST(N'2023-02-09T07:16:21.0000000' AS DateTime2), NULL, NULL, NULL, CAST(N'2023-02-09T07:16:22.0000000' AS DateTime2), NULL, NULL, NULL)
GO
INSERT [dbo].[Pessoas] ([Id], [Nome], [Sobrenome], [Matricula], [Empresa], [FunçãoEmpresa], [DataCadastro], [DataEmbarque], [Camarote], [FunçãoEOR], [Embarcado], [Baleeira], [Dias], [Ramal]) VALUES (N'FAKE1675471283908       ', N'MARIO', N' LUIZ ALVES DA PAIXAO', N'', N'RIP SERVIÇOS INDUSTRIAIS LTDA', N'ALMOXARIFE                                        ', CAST(N'2023-02-03T21:41:23.9240000' AS DateTime2), NULL, N'MS412-D', NULL, 1, N'2/4', 9, N'57494')
INSERT [dbo].[Pessoas] ([Id], [Nome], [Sobrenome], [Matricula], [Empresa], [FunçãoEmpresa], [DataCadastro], [DataEmbarque], [Camarote], [FunçãoEOR], [Embarcado], [Baleeira], [Dias], [Ramal]) VALUES (N'FAKE1675471282280       ', N'JAFFAR', N' ELIAS ABRAHAO', N'1381895', N'PETROBRAS S.A.', N'SUPROD - SUPERVISOR DE PRODUÇÃO                   ', CAST(N'2023-02-03T21:41:22.2950000' AS DateTime2), NULL, N'A514-A', NULL, 1, N'1/3', 9, N'67469')
INSERT [dbo].[Pessoas] ([Id], [Nome], [Sobrenome], [Matricula], [Empresa], [FunçãoEmpresa], [DataCadastro], [DataEmbarque], [Camarote], [FunçãoEOR], [Embarcado], [Baleeira], [Dias], [Ramal]) VALUES (N'FAKE1675471283176       ', N'FABIANO', N' DOS SANTOS TEIXEIRA', N'1385427', N'PETROBRAS S.A.', N'SUMEC - SUPERVISOR DE MECÂNICA                    ', CAST(N'2023-02-03T21:41:23.1920000' AS DateTime2), NULL, N'A620-B', NULL, 1, N'1/3', 7, N'67486')
GO
ALTER TABLE [dbo].[Andamento]  WITH CHECK ADD  CONSTRAINT [FK_Andamento_Eventos] FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Eventos] ([id])
GO
ALTER TABLE [dbo].[Andamento] CHECK CONSTRAINT [FK_Andamento_Eventos]
GO
